<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Title</th>
      <th colspan="1">Artist</th>
      <th colspan="1">Album</th>
      <th colspan="1">Year</th>
      <th colspan="1">Track</th>
      <th colspan="1">Genre</th>
    </tr>
  </thead>

  <tbody>
    <%= render @songs %>
  </tbody>
</table>

<br>

<%# link_to 'New Song', new_song_path %>
